*.log
*.pyc
*.tmproj
*~
.project
*#
.#*
*.swp
node_modules
.vscode
old
trash
test
docs
.babelrc                    
.eslintignore               
.eslintrc.js                
.labrc.js                   
webpack.config.js